<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script>
	var app= angular.module('myApp', []);
	
	app.controller('Controller', function($scope) {
		
				$scope.update = function() {
					$scope.person = angular.copy($scope.user);
				};
			});
</script>
</head>
<body ng-app="myApp" >
	<div ng-controller="Controller">
			First Name: <input type="text" ng-model="user.firstname" /><br>
			Last Name: <input type="text" ng-model="user.lastname" /> <br>
			Zipcode: <input type="number" ng-model="user.zipcode"/> <br>
  			Age: <input type="number" ng-model="user.age"/><br>
			<button ng-click="update()">Update</button>
		<pre>person = {{person | json}}</pre>
	</div>
</body>
</html>